body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#board {
    background-image: url('./img/desert.png');
    background-size: cover;
    background-position: center;
    border-bottom:1px rgb(93, 0, 0);
}